@using RentalManagement.Models;
@model SomeViewModel
@{
    ViewBag.Title = "PaymentDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Payment Details here</p>

<!-- credit card information page-->

<p><a class="btn btn-default" href="OrderDetails">Proceed &raquo;</a></p>

<ul>
    @foreach (var item in Model.Assets)
    {
        <li>
            @Html.Raw("Asset Name: ")       @Html.DisplayFor(modelItem => item.Name)
            @Html.Raw("Asset Type: ")       @Html.DisplayFor(modelItem => item.Type)
            @Html.Raw("Asset AskingRent: ") @Html.DisplayFor(modelItem => item.AskingRent)
            @Html.Raw("Asset Address: ")    @Html.DisplayFor(modelItem => item.Address)
        </li>
    }
</ul>

<ul>
    @foreach (var item in Model.FullAddresses)
    {
        <li>
            @Html.Raw("Address ID: ")            @Html.DisplayFor(modelItem => item.ID)
            @Html.Raw("Address StreetAddress: ") @Html.DisplayFor(modelItem => item.StreetAddress)
            @Html.Raw("Address Province: ")      @Html.DisplayFor(modelItem => item.Province)
            @Html.Raw("Address Country: ")       @Html.DisplayFor(modelItem => item.Country)
            @Html.Raw("Address Postal Code: ")   @Html.DisplayFor(modelItem => item.PostalCode)
        </li>
    }
</ul>